<div class="modal fade" id="modal-dialog" {{action close}}>
    <div class="modal-dialog" {{action bubbles=false}}>
        <form action="" method="POST" role="form" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                {{yield}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" {{action close}}>Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" {{action save}}>Save changes</button>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->